body {
  display: grid;
  /* height: 100vh; */
  align-items: center;
  justify-content: center;
  background-color: var(--Yellow-100);
}

#content {
  max-width: 375px;
  padding: 25px 15px;
  display: grid;
  gap: 20px;
  transition: width .3 ease-in-out, height .3  ease-in-out;
  outline: 1px dashed red;
}

.post__title {
  font: var(--text-title);
 }

.post__subtitle {
  font: var(--text-subtitle);
}

.post__lead {
  font: var(--text-lead);
}

.post__body {
  font: var(--text-body);
}

.text-title-italic {
  font: var(--text-title-italic);
}

.text-subtitle-italic {
  font: var(--text-subtitle-italic);
  color: var(--Purple-500);
}

.post__image {
  width: 100%;
  outline: 1px dashed red;
}

.highlight-text {
  color: var(--Yellow-500);
}

.post {
  border-radius: 12px;
  padding: 20px 30px;
  height: 100%;
  /* overflow: hidden; */
  outline: 1px dashed red;
}

.post--five-stars {
  background-color: var(--Purple-500);
  color: var(--White);
  text-align: center;
}

.post--five-stars .post__title {
  padding: 20px 35px;
}

.post--five-stars .post__image {
  width: 50%;
}

.post--manage-accounts,
.post--audience-growth {
  background-color: var(--White);
}

.post--manage-accounts .post__image {
  padding: 10px;
}

.post--maintain-schedule,
.post--using-ai {
  background-color: var(--Yellow-500);
}

.post--maintain-schedule .post__image,
.post--using-ai .post__image {
  width: 75%;
  margin-top: 10px;
}

.post--using-ai .post__subtitle {
  width: 90%;
}

.post--social-media {
  background-color: var(--Purple-100);
  text-align: center;
  display: grid;
  justify-items: center;
  align-items: center;
}

.post--social-media .post__image {
  margin-top: 10px;
}

.post--social-media .post__body {
  padding-block: 15px;
  width: 85%;
}

.post--grow-followers {
  background-color: var(--Purple-500);
  display: grid;
  justify-items: center;
  align-items: start;
}

.post--grow-followers .post__image {
  width: 75%;
  padding-block: 10px;
  max-width: 100%;
  height: auto;
  display: block;
}

.post--grow-followers .post__subtitle {
  text-align: center;
  color: var(--White);
  padding-inline: 45px;
}

.post--audience-growth .post__image {
  width: 60%;
  margin-top: 10px;
}

.post--schedule-content {
  background-color: var(--Red-100);
}

.post--schedule-content .post__image {
  width: 60%;
  margin-top: 10px;
}

@media screen and (min-width: 1024px) {
  body {
    display: grid;
    height: 100vh;
    padding: 15px;
  }

  #content {
    display: grid;
    min-width: 1024px;
    height: 768px;
    max-height: 95vh;
    /* height: 90vh; */
    /* max-height: 768px; */
    padding: 0;
    /* align-self: center; */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(10,1fr);
    grid-template-areas:
    "schedule stars stars media"
    "schedule stars stars media"
    "schedule stars stars media"
    "schedule stars stars media"
    "schedule accounts maintain media"
    "ai accounts maintain media"
    "ai accounts maintain media"
    "ai audience followers followers"
    "ai audience followers followers"
    "ai audience followers followers";
    transition: width .3 ease-in-out, height .3  ease-in-out;
  }

  .post {
    display: grid;
    align-content: center;
    gap: 5px;
    padding: 20px;
  }

  .post--schedule-content {
    grid-area: schedule;
  }

  /* .post--schedule-content .post__image {
    width: 100%;
  } */

  .post--five-stars {
    grid-area: stars;
  }

  .post--five-stars .post__image {
    width: 25%;
    justify-self: center;
  }

  .post--social-media {
    grid-area: media;
    text-align: left;
    /* overflow: hidden; */
  }

  /* .post--social-media .post__image {
    width: 150%;
    justify-self: left;
  } */

  .post--social-media .post__body {
    justify-self: left;
    /* border: 1px solid red; */
  }

  .post--using-ai {
    grid-area: ai;
    /* align-content: space-between; */
  }

  /* .post--using-ai .post__image {
    width: 100%;
    height: 90%;
  } */

  .post--manage-accounts {
    grid-area: accounts;
    overflow: hidden;
  }

  /* .post--manage-accounts .post__image {
    width: 150%;
  } */

  .post--maintain-schedule {
    grid-area: maintain;
    align-content: start;
    overflow: hidden;
  }

  /* .post--maintain-schedule .post__image {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
  } */

  .post--audience-growth {
    grid-area: audience;
    /* align-content: space-between; */
  }

  /* .post--audience-growth .post__image {
    width: 80%;
  } */

  .post--grow-followers {
    grid-area: followers;
    display: grid;
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: space-around;
  }

  .post--grow-followers .post__subtitle {
    padding: 0;
    text-align: left;
  }

  .post--grow-followers .post__image {
    width: 60%;
  }

  /* .post__title {
    font-size: clamp(3.2rem, 3rem + 1.666vw, 3.6rem);
  } */

  /* .post__subtitle,
  .text-subtitle-italic {
    font-size: clamp(2.1rem, 1.9rem + 1.666vw, 2.4rem);
  } */

  /* .post__lead {
    font-size: clamp(1.4rem, 1.2rem + 1.666vw, 1.8rem);
  } */

  /* .post__body {
    font-size: clamp(1.3rem, 1.1rem + 1.666vw, 1.5rem);
  } */
}

@media screen and (min-width: 1440px) {

}